body
{
<<<<<<< HEAD
    color:rgba(34, 57, 98, 0.87);
=======
    color:gray;
>>>>>>> alterno
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#alterno
{
    background: rgb(15, 109, 96);
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.75);
    color: #ddd;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#alterno #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 2px solid rgb(214, 83, 83);
    margin: 0 auto;

}
#container h1
{
    font-size: 20px;
}
#post
{
    padding: 1em;
}